<div class="corporation-container mt-4">
    Lista de usuarios corporativos registros en el sistema
    <div class="row">
      @for (corporation of pCorporationList; track corporation) {
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm h-100 border-0 rounded-3">
            <div class="card-body">
              <h5 class="card-title fs-6 fw-bold text-primary">Coporaciones: {{ corporation.businessName }}</h5>
             
  
              @if (areActionsAvailable) {
                <div class="d-flex justify-content-between mt-3">
                  <button
                   >Actualizar</button>
                 
                </div>
              }
            </div>
          </div>
        </div>
      } @empty {
        <div class="col-12">
          <p class="text-muted text-center">No hay usuarios corporativos activos o registrados actualmente.</p>
        </div>
      }
    </div>
  </div>