<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th *ngIf="areActionsAvailable">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of pCategoryList">
        <td>{{ cat.name }}</td>
        <td>{{ cat.description || '-' }}</td>
        <td *ngIf="areActionsAvailable">
          <button class="edit" (click)="edit(cat)">Editar</button>
          <button class="delete" (click)="delete(cat.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
