
.modal-header {
  display: flex;
  justify-content: end;
  border-bottom: none;
  padding-bottom: 0px;
  background-color: var(--color-bg-main);
}
.close {
  background: none;
  border: none;
  color: #fff !important;
  font-size: 2rem;
  opacity: 1;
  line-height: 1;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0 0.5rem;
}
.close:hover, .close:focus {
  color: var(--color-accent, #FFD600);
  outline: none;
}

.modal-content.custom-bg {
  background-color: var(--bg-color);
}

.modal-body {
      max-height: 74vh;
    overflow: auto;
    background-color: var(--color-bg-main);

    scrollbar-width: thin;
    scrollbar-color: #7ED957 transparent;
  
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #7ED957;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
}

