<div class="container text-center mt-5">
  <div class="card shadow-lg border-0 p-4 p-md-5">
    <div class="card-body">
      <h2 class="card-title">Un último paso.</h2>
      <p class="lead text-muted mb-4">
        Para completar tu perfil, dinos cómo te registrarás en nuestra
        plataforma.
      </p>
      <div class="d-grid gap-3 col-md-8 col-lg-6 mx-auto">
        <a routerLink="/auth/google-signup-user" class="btn btn-primary btn-lg">
          <i class="pi pi-user me-2"></i>
          Registrarme como Administrador de fincas
        </a>
        <a
          routerLink="/auth/google-signup-corporation"
          class="btn btn-secondary btn-lg"
        >
          <i class="pi pi-building me-2"></i>
          Registrarme como Corporación
        </a>
      </div>
    </div>
  </div>
</div>
