<div class="table-responsive mt-4">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th *ngIf="areActionsAvailable">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency: 'CRC' }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ getCategoryName(product.category!.id! ? product.category!.id! : undefined) }}</td>
        <td *ngIf="areActionsAvailable">
          <button class="edit" (click)="edit(product)">Editar</button>
          <button class="delete" (click)="remove(product.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
