<div class="corporation-container mt-4">
  <h1 class="title_center">Corporaciones registradas en el sistema</h1>
  <div class="row">
    @for (corporation of pListCorporationList; track corporation) {
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card-custom">
          
          <div class="card-header-custom">
            <i class="fa-solid fa-user user-icon"></i>
            {{ corporation.businessName }}
          </div>

            <div *ngIf="isValidCoordinates(corporation.businessLocation)" #mapContainer class="map-container"></div>
            <div *ngIf="!isValidCoordinates(corporation.businessLocation)" class="alert alert-warning">
              <i class="fa-solid fa-triangle-exclamation"></i>
              Todavía no se ha indicado una ubicación por mapa.
            </div>
            
            <div class="card-body-custom pt-3 px-3 pb-2">
              <p><strong>País:</strong> {{ corporation.businessCountry }}  
                 <strong>Provincia:</strong> {{ corporation.businessStateProvince }}</p>
          
              <p><strong>Identificación:</strong> {{ corporation.businessId }}</p>
            </div>
         
          <div class="card-footer-custom">
            <button class="btn-yellow"(click)="callUpdateModalMethod.emit(corporation)">Ver Perfil</button>
<!--<button class="btn-green">Suscribir</button>-->
          </div>
        </div>
      </div>
    } @empty {
      <div class="col-12">
        <p id="message" class="text-center">No hay usuarios corporativos activos registrados actualmente.</p>
      </div>
    }
  </div>
</div>
